fastapi>=0.109.0
uvicorn>=0.27.0
python-multipart>=0.0.9
spacy>=3.7.2
sentence-transformers>=2.3.1
scikit-learn>=1.4.0
pandas>=2.2.0
numpy>=1.26.0
faiss-cpu>=1.8.0
pdfminer.six
python-docx
torch --index-url https://download.pytorch.org/whl/cpu
